body {
  margin: 0;
  padding: 0;
}
#map {
  height: 100vh;
}

/* Icona rombo blu */
.diamond-icon {
  width: 16px;
  height: 16px;
  background-color: blue;
  transform: rotate(45deg);
  border: 1px solid darkblue;
  border-radius: 2px;
}

/* Legenda */
.legend {
  position: absolute;
  bottom: 30px;
  left: 10px;
  background: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend h4 {
  margin: 0 0 5px;
}
.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #999;
}

/* Pulsante GPS */
.leaflet-control-custom {
  background-color: white;
  padding: 6px 10px;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.65);
}
